@tailwind base;
@tailwind components;
@tailwind utilities;

/* FOR ALERT ERROR  */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-25px);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out both;
}

/* FOR VIEW THE RECORS OF A SECTION */
.section-list *:is(tr, th, td) {
    text-align: left;
    padding: 0.5rem;
}

.section-list>thead>tr>th {
    font-size: clamp(0.6rem, 1.2vw, 1rem);
}

.section-list>tbody>tr {
    border: 1px solid #000;
    border-inline: none;
}

.section-list>tbody>tr>td {
    font-size: clamp(0.3rem, 1vw, 15px);
}

/* FOR MESSAGES IN THE TOLTIP */
.wrapper {
    position: relative;
    display: flex;
}

.wrapper article {
    display: none;
    /* clip-path: polygon(60% 10%, 100% 10%, 100% 100%, 0 100%, 0 10%, 40% 10%, 50% 0); */
}

.wrapper>:hover~article {
    display: block;
}