@tailwind base;
@tailwind components;
@tailwind utilities;

/* FOR ALERT ERROR  */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-25px);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out both;
}

/* FOR MESSAGES IN THE TOLTIP */
.wrapper {
    position: relative;
    display: flex;
}

.wrapper article {
    display: none;
    /* clip-path: polygon(60% 10%, 100% 10%, 100% 100%, 0 100%, 0 10%, 40% 10%, 50% 0); */
}

.wrapper>:hover~article {
    display: block;
}


/* FOR TABLE OF RECORDS */

.table {
    position: absolute;
    width: 100%;
    overflow-x: scroll;
}

.table th,
.table td {
    padding: 0.6rem 0;
    text-align: left;
    white-space: nowrap;
    padding-left: 1rem;
}



.table thead th {
    background-color: #522B46;
    color: #FFFFFF;
}

.table tbody td {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
}

.table tbody td:first-child,
.table thead th:first-child,
.table tbody td:last-child,
.table thead th:last-child {
    position: sticky;
    z-index: 1;
    padding-inline: 0.7rem;
}

.table tbody td:first-child,
.table thead th:first-child {
    left: 0;
}

.table tbody td:last-child,
.table thead th:last-child {
    right: 0;
}

.table-queries tbody td:last-child,
.table-queries thead th:last-child {
    position: relative;
}