@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-25px);
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out both;
}

.section-list *:is(tr, th, td) {
    text-align: left;
    padding: 0.5rem;
}

.section-list>thead>tr>th {
    font-size: clamp(0.6rem, 1.2vw, 1rem);
}

.section-list>tbody>tr {
    border: 1px solid #000;
    border-inline: none;
}

.section-list>tbody>tr>td {
    font-size: clamp(0.3rem, 1vw, 15px);
}